# Required for aad-user-sync
export AZURE_CLIENT_ID=''
export AZURE_TENANT_ID=''
export AZURE_CLIENT_SECRET=''

# required for sync-users, sync-repositories, create-teams-from-directories
export INPUT_APP_ID=''
export INPUT_PRIVATE_KEY=''
export INPUT_CLIENT_SECRET=''
export INPUT_INSTALLATION_ID=''
export INPUT_ORGANIZATION_NAME=''
#export INPUT_DRY_RUN='true'
export INPUT_GITHUB_API_URL='https://<GHES_URL>/api/v3'
